{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href = "{% static 'curd_app/styles.css' %}">
    <title>Create Page</title>
</head>
<body>
    <h1>알바 모집글을 작성해주세요</h1>
    <form action="{% url 'create' %}" method="POST">
        {%csrf_token%}
        <p>가게 이름: <input type="text" name = "tradename"></p>
        <p>사장 이름: <input type = "text" name = "owner"></p>
        <p>가게 위치: <input type = "text" name = "location"></p>
        <p>상세 요강: <textarea name="jobdetail" cols="30" rows="10"></textarea> </p>
        <p>시급: <input type = "number" name = "wage"></p>
        <p>현재 지원자 수: <input type = "number" name = "currentapplicant"></p>
        <button type="submit">작성</button>
    </form>
</body>
</html>