{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel = "stylesheet" href = "{% static 'curd_app/styles.css' %}">
</head>
<body>
    <img src="{% static 'curd_app/logo_transparent.png' %}" width= 300px height=300px>
    <h1 style = "margin-top: 0px;">Partime Hell</h1>
    <br>
    <h3>알바 리스트</h3>
    <div class = "container">
    {% for store in stores %}
        <div class = "box">
            {% if store.isapply %}
                <p>{{store.tradename}} (지원중)</p>
            {% else %}
                <p>{{store.tradename}}</p>
            {% endif %}
            <p>시급: {{store.wage}}</p>
            <p>현재 지원자수: {{store.currentapplicant}}</p>
            <a href = "{% url 'detail' store.id %}">자세히 알아보기</a>
        </div>
    {% endfor %}
    </div>
    <br><br>
    <a href = "{% url 'create_page' %}">알바모집 작성하러 가기</a>
</body>
</html>