{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href = "{% static 'curd_app/styles.css' %}">
    <title>Update Page</title>
</head>
<body>
    <h1>알바 모집글을 수정해주세요</h1>
    <form action="{% url 'update' id %}" method="POST" enctype="multipart/form-data">
        {%csrf_token%}
        <p>가게 이름: <input type="text" name = "tradename" value="{{tradename}}"></p>
        <p>사장 이름: <input type = "text" name = "owner" value="{{owner}}"></p>
        <p>가게 위치: <input type = "text" name = "location" value="{{location}}"></p>
        <p>상세 요강: <textarea name="jobdetail" cols="30" rows="10">{{jobdetail}}</textarea> </p>
        <p>시급: <input type = "number" name = "wage" value="{{wage}}"></p>
        <p>현재 지원자 수: <input type = "number" name = "currentapplicant" value="{{currentapplicant}}"></p>
        <p>사진: <img src = {{image.url}}> <input type="file" name = "image"></p>
        <button type="submit">작성</button>
    </form>
</body>
</html>